<!--
=========================================================
* Material Dashboard 2 - v3.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/fam2.png">
  <title>
    Weekly Calendar
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" href="../assets/css/material-dashboard.css?v=3.0.4" rel="stylesheet" />
</head>

<body class="g-sidenav-show  bg-gray-200">
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="/">
        <img src="../assets/img/fam.png" class="navbar-brand-img h-200" style="width: 40px; height: 60px;" alt="main_logo">
        <span class="ms-1 font-weight-bold text-white">FamPlan</span>
      </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white " href="/">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">dashboard</i>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/tables">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">table_view</i>
            </div>
            <span class="nav-link-text ms-1">Vacation & Reading Tables</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/reminders">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">notifications</i>
            </div>
            <span class="nav-link-text ms-1">Reminders</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white  active bg-gradient-primary" href="/calendar">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">today</i>
            </div>
            <span class="nav-link-text ms-1">Calendar</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="/">Dashboard</a></li>
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="/calendar">Monthly Calendar</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Weekly Calendar</li>
          </ol>
          <h4 class="font-weight-bolder mb-0">Weekly Calendar</h4>
        </nav>
      </div>
    </nav>
    <p>  </p>
    <div class="row mt-4 mb-4">
      <div class="col-lg-10 mb-md-0 mb-4" style="padding-left: 40px;">
        <div class="card">
          <div class="card-header pb-0">
            <div class="row">
              <div class="col-lg-6 col-7">
                <h6>Events This Week:</h6> 
                <p class="text-sm mb-0">
                  <span class="font-weight-bold ms-1"><%= data.numRows %> events</span> this week
                </p>
              </div>
            </div>
          </div>
          <div class="card-body px-2 pb-2">
            <div class="table-responsive">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Event Name</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Event Date</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Contributor Name</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i < data.numRows; i++) { %>
                  <tr style="border-bottom: 1px solid #f0f2f5; border-top: 1px solid #f0f2f5">
                    <td class="align-middle col-3" style="border-bottom: 1px solid #f0f2f5;">
                      <div class="text-sm mb-0">
                          <h6 class="mb-0 ps-3 text-sm"><%= data.result[i].eventname %></h6>
                        </div>
                    </td>
                    <td class="align-middle col-4" style="border-bottom: 1px solid #f0f2f5;">
                      <div class="text-sm mb-0">
                        <h6 class="mb-0 ps-3 text-sm">
                          <% const dayOfWeekName = data.result[i].eventdate.toLocaleString('default', {weekday: 'long'});  %> 
                          <% const month = data.result[i].eventdate.toLocaleString('default', { month: 'long' }); %> 
                          <%= month %> <%= data.result[i].eventdate.getDate() %>, <%= data.result[i].eventdate.getFullYear() %> (<%= dayOfWeekName %>)
                        </h6>
                      </div>
                    </td>
                    <td class="align-middle col-3" style="border-bottom: 1px solid #f0f2f5">
                      <div class="text-sm mb-0">
                          <h6 class="mb-0 ps-3 text-sm"><%= data.result[i].contributorname %></span>
                        </div>
                    </td>
                    <td class="align-middle" style="border-bottom: 1px solid #f0f2f5;">
                      <div class="d-flex align-items-left justify-content-left">
                        <span class="mb-0 ps-3 text-sm">
                          <a href="/calendar/view-event?ID=<%= data.result[i].eventid %>">View Details</a>
                        </span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                </tbody>
                <% } %>
              </table>
              <script src="index.js"></script>
              <div style="padding-right: 20px; float: right;">
                <span><a class="btn bg-gradient-dark px-3 mb-2 mt-4 ms-4" data-class="bg-white" href="/calendar/new-event">Add New Event</a></span>
                <span><a class="btn bg-gradient-dark px-3 mb-2 mt-4 ms-4" data-class="bg-white" href="/calendar">Go To Monthly View</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>